{% extends 'base.html' %}
{% block content %}
<h1>Aggiungi Veicolo</h1>
<form method="post">
  <div class="mb-3"><label class="form-label">Targa</label><input name="targa" class="form-control" required></div>
  <div class="mb-3"><label class="form-label">Marca</label><input name="marca" class="form-control"></div>
  <div class="mb-3"><label class="form-label">Modello</label><input name="modello" class="form-control"></div>
  <div class="mb-3"><label class="form-label">Anno</label><input name="anno" type="number" class="form-control"></div>
  <div class="mb-3"><label class="form-label">KM</label><input name="km" type="number" class="form-control"></div>
  <button class="btn btn-success">Salva</button>
  <div class="mb-3"><label class="form-label">Data Lettura KM</label><input name="km_date" type="date" class="form-control" required></div>
</form>
{% endblock %}