{% extends 'base.html' %}
{% block content %}
<h1>Report percorrenza trimestrale</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr><th>Veicolo</th><th>Anno</th><th>Trimestre</th><th>Km Iniziali</th><th>Km Finali</th><th>Km Percorsi</th></tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row.veicolo.targa }}</td>
      <td>{{ row.year }}</td>
      <td>{{ row.quarter }}</td>
      <td>{{ row.km_start }}</td>
      <td>{{ row.km_end }}</td>
      <td>{{ row.delta }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
